@mixin buttonStandard(
  $backgroundColor,
  $padding,
  $margin: 0,
  $fontSize: 11px,
  $colorText: var(--color-paragraph)
) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  border: none;
  border-radius: var(--border-radius-m);
  color: $colorText;
  font-size: $fontSize;
  font-weight: 500;
  padding: $padding;
  margin: $margin;
  transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
    @if $backgroundColor == var(--color-primary-dark) {
      opacity: 0.9;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.85;
    @if $backgroundColor == var(--color-primary-dark) {
      opacity: 0.9;
    }
  }
  & .ant-spin.ant-spin-sm.ant-spin-spinning.spinars {
    & .ant-spin-dot-item {
      background-color: var(--color-primary-dark-dark);
      @if $backgroundColor == var(--color-primary-dark-dark) {
        background-color: var(--color-primary-dark);
      }
    }
  }
}

@mixin icon($color, $size: 24px) {
  fill: $color;
  width: $size;
  height: $size;
  transition: all 0.1s ease;
}

@mixin hoverAndFocus() {
  caret-color: var(--color-primary-dark);
  &:hover {
    border-color: var(--color-primary-dark);
  }
  &:focus,
  &-focused {
    box-shadow: var(--box-shadow-light);
    border: 1px solid var(--color-primary-dark);
    &:hover {
      border-color: var(--color-primary-dark);
    }
  }
}

@mixin hoverAndFocusError() {
  caret-color: #c62626;
  border-color: #c62626 !important;
  &:hover {
    border-color: #c62626;
  }
  &:focus,
  &-focused {
    box-shadow: 0 0 0 2px rgba(254, 78, 8, 0.33);
    border: 1px solid #c62626;
    &:hover {
      border-color: #c62626;
    }
  }
}

@mixin contentPage($align: column) {
  display: flex;
  flex-direction: $align;
}
